{% extends "page.html" %}
<!-- Extiende de la plantilla 'page.html', heredando su estructura básica -->

{% block title %}Dashboard{% endblock %}
<!-- Define el título de la página como 'Dashboard' -->

{% block body %}
<!-- Inicio del bloque de contenido principal de la página -->

    <div class="wrapper">
        {% include 'sidebar.html' ignore missing with {'user': user} %}
        <div class="main-panel">

            {% include 'navbar.html' %}

            <div class="content">
                
            </div>
            <footer class="footer">
             <!-- Pie de página -->
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-center">
                            FP064 Desarrollo back-end con PHP, framework MVC y gestor de contenidos
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>

{% endblock %}
