<!-- Barra lateral con una imagen de fondo -->
<div class="sidebar" data-image="/img/sidebar.jpg">
    <div class="sidebar-wrapper">
        <!-- Sección del logo con enlace a la página de inicio y muestra el tipo de usuario -->
        <div class="logo">
            <a href="/" class="simple-text">
                PHPDevelopers
            </a>
        </div>
        <ul class="nav">
            {% if user.Id_tipo_usuario == 1 %}
            <!-- Elemento de navegación solo para admin -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            {% endif %}
            <li>
                <a class="nav-link" href="/calendario">
                    <i class="nc-icon nc-notes"></i>
                    <p>Calendario</p>
                </a>
            </li>
            <!-- Elemento de navegación para editar el perfil del usuario -->
            <li>
                <a class="nav-link" href="/user-edit">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Perfil usuario</p>
                </a>
            </li>
            <!-- Elemento de navegación para editar mi cuenta y cerrar sesión -->
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="/logout">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Cerrar sesión</p>
                </a>
            </li>
        </ul>
    </div>
</div>